<h1><%= @page_header %></h1>

<%= @blogs %>

<% @blogs.each_with_index do |blog, index| %>

	<h2><%= blog[:title] %></h2>
	<p><<%= blog[:desc] %></p>
	<a href="/blogs/<%=index%>/edit">Edit</a>
	<a href="/blogs/<%=index%>">View</a>
	<br>

	<form action="/blogs/ <%=index%>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" name="Delete">
	</form>

<% end %>